
body, html {
  margin: 0px;
  padding: 0px;
  font: 12px/1.5 Tahoma, Helvetica, 'SimSun', sans-serif;
  color: #444;
  background: #F2F2F2;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: #444444;

  &:hover {
    color: rgba(#444, 0.6);
  }
}

.top {
  background: #F5F7FA;
  height: 35px;
  line-height: 35px;
}

.container {
  max-width: 1200px;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.top {
  .btn {
    margin-right: 10px;
    color: rgba(#444, 0.6);

    &:hover {
      color: #444;
    }
  }
}

.navbar {
  background: #333333;
  height: 68px;
  line-height: 68px;

  .logo {
    float: left;
    width: 150px;
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center; /*垂直居中*/
    justify-content: center; /*水平居中*/

    img {
      max-width: 150px;
      max-height: 100%;
      vertical-align: middle;
      align-items: center;
    }
  }

  .link-wrap {
    float: left;;

    .link {
      float: left;
      font-size: 17px;
      height: 68px;
      line-height: 68px;
      color: #FFFFFF;
      position: relative;
      padding: 0 20px;
      margin: 0;
      font-family: "Microsoft Yahei", Arial;
      transition: background-color 0.2s;

      &:hover {
        background: #272727;
      }
    }
  }

  .search-bar {
    float: right;
    color: #999;
    background-color: #232323;
    height: 35px;
    padding: 0 10px;
    margin-top: 15px;

    input {
      display: block;
      float: left;
      border: none;
      outline: none;
      background-color: transparent;
      color: #999;
      line-height: 35px;
    }

    .iconfont {
      float: left;
      line-height: 35px;
    }
  }
}

.footer {
  background-color: #3E3E3E;
  margin-top: 20px;


  .copyright, .links {
    color: #8F8F8F;
    min-height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding: 20px 0px;

    a {
      color: #8F8F8F;
    }
  }

  .links {
    padding: 0;
  }
}

.clearfix {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.main-wrap {
  margin-top: 20px;
}

.container {
  .main {
    width: calc(100% - 280px - 40px);
    margin-right: 10px;
    float: left;
  }

  .side {
    width: 250px;
    float: left;
  }

  .main, .side {
    padding: 15px;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  }
}

.block {
  margin-top: 20px;
  margin-bottom: 20px;

  .head {
    .title {
      float: left;
      display: block;
      font-size: 20px;
      color: #434A54;
      font-weight: 500;
      letter-spacing: 2px;
      padding-left: 10px;
      border-left: #4593FF 5px solid;
    }

    .more {
      float: right;
    }
  }
}

.side {
  .item {
    .head-title {
      //float: left;
      font-size: 20px;
      color: #434A54;
      font-weight: 500;
      letter-spacing: 2px;
    }

  }

  .side-article {
    .first, .list {
      margin-bottom: 20px
    }

    .list {
      display: table;
      .cover{
        display: table-cell;
        width: 50px;
        vertical-align: middle;
      }
      .info{
        display: table-cell;
        vertical-align: middle;
        padding:0px 5px;
      }

    }

    .first {
      position: relative;
      width: 250px;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
      }

      .info {
        padding: 5px;
        color: white;

        .title {
          font-size: 14px;
          color: #fff;
          height: 25px;
          line-height: 25px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        a {
          color: white;
        }

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(#000, 0.5);
      }
    }

  }

}
