<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">

    <title>黄鹂网 - 宠物鸟等鸟类的趣闻、图片和视频分享中心</title>
    <meta name="keywords" content="宠物鸟,鹦鹉,八哥,虎皮鹦鹉,玄凤鹦鹉,牡丹鹦鹉,金刚鹦鹉,价格,怎么养,图片,叫声,寿命,繁殖"/>
    <meta name="description" content="黄鹂网是广大爱鸟人士的交流中心，我们收集各种鸟类的图片、纪录片和喂养攻略等"/>

    {#    <link rel="stylesheet" href="/static/iconfont/iconfont.css" />#}
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1271743_9mqw1koml2p.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>


</head>
<body>
<div class="top">
    <div class="container">
        <a href="#" class="btn">
            <span class="iconfont icon-home"></span>
            <span>设为首页</span>
        </a>
        <a href="#" class="btn">
            <span class="iconfont icon-favorite"></span>
            <span>点击收藏</span>
        </a>
        <a href="#" class="btn">
            <span class="iconfont icon-phone"></span>
            <span>手机版</span>
        </a>
    </div>
</div>
</body>
</html>