{% load static cmstags %}
{% load_settings as settings %}

<div class="navbar">
    <div class="container">
        <div class="logo">
            {% if settings.logo %}
                <a href="/" title="{{ settings.title }}">
                    <img src="{{ settings.logo }}" lazyload="on">
                </a>
            {% endif %}
        </div>
        <div class="link-wrap">
            <a href="/" class="link">首页</a>
            {% for item in navbars %}
                <a href="{{ item.url }}" class="link">{{ item.name }}</a>
            {% endfor %}
        </div>
        <div class="search-bar">
            <form action="/search" method="get">
                <input type="search" name="q" placeholder="请输入要搜索的内容" value="{{ request.GET.q }}">
                <span class="iconfont icon-search"></span>
            </form>
        </div>
    </div>
</div>
