{% load static cmstags %}
{% load_settings as settings %}

<div class="navbar">
    <div class="container">
        <div class="logo">
            {% if settings.logo %}
                <a href="/" title="{{ settings.title }}">
                    <img src="{{ settings.logo }}" lazyload="on">
                </a>
            {% endif %}
        </div>
        <div class="link-wrap">
            <a href="/" class="link">首页</a>
            {% for item in navbars %}
                <a href="{{ item.url }}" class="link">{{ item.name }}</a>
            {% endfor %}
        </div>
        <div class="search-bar">
            <input type="text" name="query" placeholder="请输入要搜索的内容">
            <span class="iconfont icon-search"></span>
        </div>
    </div>
</div>
