{% load static cmstags %}
{% load_settings as settings %}
{% if settings.top_display == '1' %}
    <div class="top">
        <div class="container">
            <a href="#" class="btn">
                <span class="iconfont icon-home"></span>
                <span>设为首页</span>
            </a>
            <a href="#" class="btn">
                <span class="iconfont icon-favorite"></span>
                <span>点击收藏</span>
            </a>
            <a href="#" class="btn">
                <span class="iconfont icon-phone"></span>
                <span>手机版</span>
            </a>
        </div>
    </div>
{% endif %}