{% load static cmstags %}
{% load_settings as settings %}
{% if settings.top_display == '1' %}
    <div class="top">
        <div class="container">
            <a href="javascript:;" onclick="SetHome(this,window.location)" class="btn">
                <span class="iconfont icon-home"></span>
                <span>设为首页</span>
            </a>
            <a href="javascript:;" onclick="_addFavorite()" class="btn">
                <span class="iconfont icon-favorite"></span>
                <span>点击收藏</span>
            </a>
            {% if settings.domain_mobile %}
                <a href="{{ settings.domain_mobile }}" class="btn">
                    <span class="iconfont icon-phone"></span>
                    <span>手机版</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}